# Ignore everything
*

#Ignore specific file types or folders in case I change ignore everything
*.env

# Track Python files
!*.py


# Track folders (but not their contents by default)
!*/

# Always track .gitignore
!.gitignore
!.gitattributes
!README.md

!*.json

!test.ipynb
!testmain.ipynb
!search_table.csv


# Optional: ignore temporary/log files
*.log
*.tmp
